<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

    
     <!-- import security config -->
    <import resource="springsecurity.xml" />
    
    <!-- needed for security tag lib expression support -->
    <bean id="webexpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" /> 
    
    
    
    <!-- import security config -->
    <!--<import resource="springsecurity.xml" />-->
    
    <!-- needed for security tag lib expression support -->
   <!-- <bean id="webexpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" /> -->

        
    <!-- Hibernate SessionFactory -->
     
    
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="hibernateProperties" ref="hibernateProperties" />
        <!-- OR mapping files. -->
        <property name="annotatedClasses">
            <list>
                <value>onlinevideostore.domain.Customer</value>
                <value>onlinevideostore.domain.Address</value>
                <value>onlinevideostore.domain.Accounts</value>
                <value>onlinevideostore.domain.Movies</value>
                 <value>onlinevideostore.domain.Rental</value>
                 <value>onlinevideostore.domain.Actors</value>
                  <value>onlinevideostore.domain.Payment</value>
            </list>
        </property>
    </bean>
    
   <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/onlinevideostore"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>
     
     
    <!--Hibernate properties--> 
     
    <bean id="hibernateProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="connection.pool.size">1</prop>
                <prop key="hibernate.show_sql">true</prop>
                <!--<prop key="hibernate.current_session_context_class">thread</prop>-->
            </props>
        </property>
    </bean>
    
     <!--DAO beans-->
      <context:component-scan base-package="onlinevideostore.service"/>
        <context:component-scan base-package="onlinevideostore.Iservice"/>
        <context:component-scan base-package="onlinevideostore.dao"/>
    
    <bean id="customerDao" class ="onlinevideostore.dao.CustomerDao" >
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
     
    <bean id="movieDao" class="onlinevideostore.dao.MovieDao">
      <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
   <bean id="paymentDao" class="onlinevideostore.dao.PaymentDao">
      <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
    

</beans>